* {
    margin: 0px;
    padding: 0px;

}

#new-year {
    text-align: center;
    color: white;
}

.latter-main {
    background-image: url('../images/rec98.png');
    background-repeat: no-repeat;
    padding: 220px;
    background-position: center;
}

.foi {
    font-size: 32px;
    font-family: 'Merriweather', serif;
}

.foii {
    font-family: 'Merriweather', serif;
    font-size: 72px;
}

.sale {
    text-align: center;
    margin-top: 60px;
    /* color: #FF0000; */
}

.foiii {
    font-size: 88px;
    color: #FF0000;
    font-family: 'Inter', sans-serif;
    ;
}

.tt {
    font-size: 24px;
    color: #FF0000;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}

.cc {
    font-size: 48px;
    font-family: 'Inter', sans-serif;
}

.newyear {
    text-align: center;
    margin-top: 49px;
}


