* {
    margin: 0px;
    padding: 0px;

}

#new-year {
    text-align: center;
    color: #e5eaf5;
}

.latter-main {
    background-image: linear-gradient(180deg, #000000ac 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../images/rec98.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 300px;
    top: 20px;
    border-radius: 15px;
}

.foi {
    position: relative;
    font-size: 32px;
    font-family: 'Merriweather', serif;
    top: 180px;
}

.foii {
    font-family: 'Merriweather', serif;
    font-size: 72px;
    position: relative;
    top: 200px;
}

.sale {
    text-align: center;
    margin-top: 60px;
    /* color: #FF0000; */
}

.foiii {
    font-size: 88px;
    color: #FF0000;
    font-family: 'Inter', sans-serif;
    ;
}

.tt {
    font-size: 24px;
    color: #FF0000;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}

.cc {
    font-size: 48px;
    font-family: 'Inter', sans-serif;
}

.newyear {
    text-align: center;
    margin-top: 49px;
}

#middle {
    text-align: center;
    color: white;
}

.middle-first {
    background-image: linear-gradient(90deg, #583355 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../images/Vectorrr.png');
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
    width: 1320px;
    height: 600px;
    position: relative;
    left: 300PX;
    border-radius: 15PX;
}

.du {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    position: relative;
    top: 110px;
}

.para {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    top: 110px;
}

.duu {
    color: rgb(254, 253, 253);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px;
    border-radius: 20px;
    margin-top: 30px;
    position: relative;
    top: 150px;
    background-color: rgba(253, 135, 220, 0.535);
}

.gra{
 background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
 width: 1320px;
height: 482px;
position: relative;
left: 300px;
top: 120px;
border-radius: 15px;
text-align: center;
}
.cls{
    position: relative;
    font-size: 32px;
    top: 100px;
    font-family: 'Oswald', sans-serif;
}
.bon{
    color: antiquewhite;
    position: relative;
    top: 200px;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    padding: 15px;
    background-color: #F00;
    font-family: 'Inter', sans-serif;
    padding: 16px 32px 16px 32px;
}
.cric{
    display:flex ;
}
